---
interface Props {
	text: string;
    text2: string;
    text3: string;
    text4: string;
    text5: string;
    id: string;
    id2: string;
    id3: string;
    id4: string;
    id5: string;
}

const { text, text2, text3, text4, text5, id, id2, id3, id4, id5} = Astro.props;
---

<label class="responsive">
    <input class="check" type="checkbox">
        <div class="toggle">
            <span class="top_line common"></span>
            <span class="middle_line common"></span>
            <span class="bottom_line common"></span>
        </div>
        
        <div class="slide">
            <ul>
                <li><a class="id" href={id}><i class="fa-solid fa-people-group" style="color: #000000;"></i>{text}</a></li>
                <li><a class="id" href={id2}><i class="fa-solid fa-image" style="color: #000000;"></i>{text2}</a></li>
                <li><a class="id" href={id3}><i class="fa-solid fa-helmet-safety" style="color: #000000;"></i>{text3}</a></li>
                <li><a class="id" href={id4}><i class="fa-solid fa-helmet-safety" style="color: #000000;"></i>{text4}</a></li>
                <li><a class="id" href={id5}><i class="fa-solid fa-helmet-safety" style="color: #000000;"></i>{text5}</a></li>
            </ul>
        </div>
</label>

<style>
    label{
        position: absolute;
        top: 0;
    }
    
    .slide{
        height: 800px;
        transition: 0.5s ease;
        transform: translateX(-100%);
        padding: 5% 0;
        background-color: rgb(216, 217, 218);
        border-radius: 0 10px 20px 0;
        position: fixed;
    }

    label{
        position: absolute;
        z-index: 1;
    }

    ul li a{
        color: rgb(39, 40, 41);
        font-weight: 500;
        padding: 5px 0;
        display: block;
        text-transform: capitalize;
        transition: 0.2s ease-out;
        padding: 20px;
        text-decoration:  none;
    }

    ul li a i{
        width: 40px;
    }

    ul li{
        background-color: transparent;
        text-decoration: none;
        list-style: none;
    }

    ul li:hover{
        background-color: rgb(255, 246, 224);
        border-radius: 10px;
        transform: scale(1.1);
    }

    ul li a:hover{
        color: #000000;
    }

    .id{
        color: rgb(255, 246, 224);
        background-color: transparent;
    }


/* FUNCION DE LA BARRA */
    .check{
        display: none;
        visibility: hidden;
    }

    .toggle{
        margin: 1% 0 0 2%;
        position: fixed;
        height: 50px;
        width: 40px;
        z-index: 1;
        border-radius: 2px;
    }

    .toggle .common{
        position: absolute;
        height: 4px;
        width: 30px;
        background-color: rgb(0, 0, 0);
        border-radius: 50px;
        transition: 0.3s ease;
    }

    .toggle .top_line{
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .toggle .middle_line{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .toggle .bottom_line{
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    input:checked ~ .toggle .top_line{
        left: 2px;
        top: 14px;
        width: 25px;
        transform: rotate(45deg);
    }

    input:checked ~ .toggle .bottom_line{
        left: 2px;
        top: 14px;
        width: 25px;
        transform: rotate(-45deg);
    }

    input:checked ~ .toggle .middle_line{
        opacity: 0;
        transform: translateX(20px)
    }

    input:checked ~ .slide{
        transform: translateX(0px);
        box-shadow: 0 0 15px #061D20;
    }
    

    @media(max-width: 900px){
        label{
            display: none;
        }
    }
</style>